<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>dk.S1</servlet-class>
  </servlet>
  <servlet>
    <description>
	 	</description>
    <display-name>CookisData</display-name>
    <servlet-name>CookisData</servlet-name>
    <servlet-class>dk.CookisData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookisData</servlet-name>
    <url-pattern>/CookisData</url-pattern>
  </servlet-mapping>
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SavaStdInfo</display-name>
    <servlet-name>SavaStdInfo</servlet-name>
    <servlet-class>Std.SavaStdInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavaStdInfo</servlet-name>
    <url-pattern>/SavaStdInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStd</display-name>
    <servlet-name>DeleteStd</servlet-name>
    <servlet-class>Std.DeleteStd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStd</servlet-name>
    <url-pattern>/DeleteStd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdaateUser</display-name>
    <servlet-name>UpdaateUser</servlet-name>
    <servlet-class>Std.UpdaateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdaateUser</servlet-name>
    <url-pattern>/UpdaateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSTDData</display-name>
    <servlet-name>UpdateSTDData</servlet-name>
    <servlet-class>Std.UpdateSTDData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSTDData</servlet-name>
    <url-pattern>/UpdateSTDData</url-pattern>
  </servlet-mapping>
</web-app>